.category-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category-title h2 {
    margin: 15px 40px 20px;
    font-size: 3rem;
}

.category-title a {
    margin-right: 40px;
    font-size: 24px;
    color: cornflowerblue;
    text-decoration: none;
}

.category-cards {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 64px;
    box-sizing: border-box;
    margin: 20px 50px 40px;
}

.card-a {
    grid-column: 1 /2;
    grid-row: 1/ 3;
}

.card-b {
    grid-column: 2 /3;
    grid-row: 1/ 2;
}

.card-c {
    grid-column: 2 /3;
    grid-row: 2/ 3;
}

.card-a .top-card{
    font-size: 24px;
}

.card-b .top-card, .card-c .top-card, .card-a .middle-card{
    font-size: 16px;
}

.card-b .middle-card, .card-c .middle-card {
    font-size: 12px;
}

.card-a .card-text{
    font-size: 32px;
}

.card-b .card-text, .card-c .card-text{
    font-size: 16px;
}